profiles{
  docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
  }
  gbatch {
    google.zone                           = 'us-central1-a'
    process.executor                      = 'google-batch'
    workDir                               = 'gs://thomashk-test2/nextflow'
    google.location                       = 'us-central1'
    google.project                        = 'service-hpc-project2'
    google.batch.network                  = 'global/networks/test-network'
    google.batch.subnetwork               = 'regions/us-central1/subnetworks/test-subnet'
    google.batch.usePrivateAddress        = true
    google.batch.spot                     = true
    google.batch.serviceAccountEmail      = '883052455576-compute@developer.gserviceaccount.com'
    google.batch.bootDiskSize             = '100 GB'
    process.container                     = 'quay.io/nextflow/bash'
    illumina.container                    = 'us-docker.pkg.dev/jarvice/images/jarvice-dragen-service:1.0-rc.5'
    docker.enabled                        = true
  }


}
